body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #0f172a;
  color: white;
}

.app {
  max-width: 500px;
  margin: auto;
  padding: 15px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.estado {
  padding: 5px 10px;
  border-radius: 10px;
  background: #334155;
}

main {
  display: grid;
  gap: 15px;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}

.center {
  text-align: center;
}

.distancia {
  font-size: 50px;
  font-weight: bold;
}

.sub {
  opacity: 0.6;
}

/* Radar */
.radar {
  width: 140px;
  height: 140px;
  border: 2px solid #22c55e;
  border-radius: 50%;
  margin: auto;
  position: relative;
}

.onda {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #22c55e;
  border-radius: 50%;
  animation: radar 2s infinite;
}

.delay {
  animation-delay: 1s;
}

.centro {
  width: 10px;
  height: 10px;
  background: #22c55e;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}

/* Barra */
.barra {
  height: 10px;
  background: #334155;
  border-radius: 10px;
}

#nivel {
  height: 100%;
  width: 0%;
  background: #22c55e;
  transition: 0.4s;
}

/* Pista */
.pista {
  height: 80px;
  position: relative;
}

#carro {
  position: absolute;
  left: 0%;
  font-size: 35px;
  transition: 0.3s;
}

footer {
  text-align: center;
  margin-top: 10px;
  opacity: 0.5;
}

@keyframes radar {
  0% { transform: scale(0.2); opacity: 1; }
  100% { transform: scale(1.5); opacity: 0; }
}
